*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.DS_Store
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
design/public/res/css/*
*.sublime-project
*.sublime-workspace
automatic.sh
/.bundle
/log/*.log
/tmp
/coverage
/config/app_config.yml
/config/database.yml
