<section class="home">
    <div class="container">
        <section>
            <article>
                hi
            </article>
        </section>
        <aside>
            sidebar
        </aside>
    </div>
</section>
