$mainTextColor: #191919;
$lighterTextColor: #484848;
$placeholderTextColor: #B7B7B7;
$mainBackgroundColor: #F1F1F1;

$inputBackgroundColor: #FFFFFF;
$inputBorderColor: #DCDCDC;

$containerBackgroundColor: #F8F8F8;
$containerBorderColor: #E2E2E2;

$avatarBorderColor: #CFCFCF;

$aNormalColor: #226CB2;
$aHoverColor: #3E87CC;
$aRedColor: #B22222;

$blueAlternativeColor: #226CB2;
$redAlternativeColor: #B22222;
$greenAlternativeColor: #69B222;

$mainFontSize: 13px;

// font (might include it in the resources instead)
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

html, body {
  margin:0;
  padding:0;
  width:  100%;
  height: 100%;
}

body {
    color: $mainTextColor;
    line-height: 21px;
    font: {
        size: $mainFontSize;
        family: 'PT Sans',helvetica,arial,tahoma,sans-serif;
    }
    background: {
        color: $mainBackgroundColor;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
}

a {
    color: $aNormalColor;
    //font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $aHoverColor;
    }

    &.sign-out {
        //color: $aRedColor;
        //font-weight: bold;
    }
}

img {
    text-align: center;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

p {
    margin: 0 0 10px 0;
}

// Pretty rough - needs to be fixed up with proper scss
input {
    box-sizing: border-box;
    -moz-box-sizing: border-box; // Scss this
    padding: 5px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font: inherit;
    color: inherit;
    outline-color: $aNormalColor;
    background: {
        color: $inputBackgroundColor;
    }
    border: {
        width: 1px;
        style: solid;
        color: $inputBorderColor;
        radius: 2px;
    }

    &:-moz-placeholder {
        color: $placeholderTextColor;
    }

    &::-webkit-input-placeholder {
        color: $placeholderTextColor;
    }

    &:focus {
        border-color: $aHoverColor;
    }

    outline: none;

    &[type=submit] {
        font-weight: bold;
        cursor: pointer;
        background: #2E7EC9;
        border: 1px solid #1360A9;
        color: white;


        &:hover {
            background: #3288d8; /* Old browsers */
            background: -moz-linear-gradient(top, #3288d8 0%, #2e7fca 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3288d8), color-stop(100%,#2e7fca)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #3288d8 0%,#2e7fca 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #3288d8 0%,#2e7fca 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #3288d8 0%,#2e7fca 100%); /* IE10+ */
            background: linear-gradient(top, #3288d8 0%,#2e7fca 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3288d8', endColorstr='#2e7fca',GradientType=0 ); /* IE6-9 */
            
            box-shadow: inset 0px -1px 1px rgba(0,0,0,.1);
            //text-shadow: 0px -1px 0px rgba(0,0,0,.5);
        }

        &:active {
            background: #1380e5; /* Old browsers */
            background: -moz-linear-gradient(top, #1380e5 0%, #286eb0 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1380e5), color-stop(100%,#286eb0)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #1380e5 0%,#286eb0 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #1380e5 0%,#286eb0 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #1380e5 0%,#286eb0 100%); /* IE10+ */
            background: linear-gradient(top, #1380e5 0%,#286eb0 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1380e5', endColorstr='#286eb0',GradientType=0 ); /* IE6-9 */

            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2);
            //text-shadow: 0px -1px 0px rgba(0,0,0,.5);
        }
    }
}

// Generic stuff
.clearfix {
    clear: both;
    &.left {
        clear: left;
    }
    &.right {
        clear: right;
    }
}

#primary-container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

.container {
    padding: 10px;
    background: {
        color: $containerBackgroundColor;
    }
    border: 1px solid $containerBorderColor;
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(0,0,0,.05);
}

#header, #footer {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    overflow: hidden;
    margin: 10px 0 5px 0;
}

#footer {
    p {
        padding-left: 4px;
    }
}

#logo {
    display: inline-block;
    width: 245px;
    height: 74px;
}

#user-tag {
    overflow: hidden;
    float: right;
    height: 102px;

    //border-radius: 2px;

    #user-picture, #user-menu, #user-info {
        float: left;
        
    }

    #user-menu, #user-picture {
        margin-right: 15px;
    }

    #user-menu, #user-info {
        margin-top: -3px; // Filthy hack eww
    }

    #user-picture {
        display: inline-block;
        width: 80px;
        height: 80px;
        border: 1px solid $avatarBorderColor;
        img {
            border: 1px solid white;
            box-sizing: border-box;
            float: left;
            width: 100%;
            height: 100%;
        }
    }

    a#user-name {
        color: $mainTextColor;
        font-weight: bold;

        &:hover {
            color: $lighterTextColor;
        }
    }
}

.stat-title {
    //font-weight: bold;
    //color: $lighterTextColor;
}

.stat-data {
    color: $lighterTextColor;
    //font-weight: bold;
}

// Should we use happy colors for ratios?
.ratio {
    //font-weight: bold;
    &.bad {
        color: $redAlternativeColor;
    }
    &.good {
        color: $greenAlternativeColor;
    }
}

#nav {
    display: block;
    padding-left: 4px;
    margin-top: 2px;

    ul li {
        display: inline-block;
        margin-right: 10px;
    }
}

// Login
body.login #primary-container {
    height: 238px;
    width: 300px;

    position: relative;

    left: 50%;
    top: 50%;

    margin-left: -150px;
    margin-top: -119px;
}

#outer-login-container {
    height: 238px;
    width: 300px;



    img {
        margin: 0 auto;
        display: block;
    }
}

#login-container {
    width: 300px;
    margin: 20px auto;

    box-sizing: border-box;



    overflow: hidden;

    h2 {
        margin-top: 0;
    }

    input {
        width: 100%;
        margin-top: 5px;

        &:first-child {
            margin-top: 0;
        }

        &#login-submit {
            width: 100px;
            float: right;
        }
    }

    a {
        vertical-align: middle;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin-top: 5px;
        margin-left: 1px;
    }
}

