$mainTextColor: #191919;
$mainBackgroundColor: #F1F1F1;

html, body {
  margin:0;
  padding:0;
}

html {
  width:  100%;
  height: 100%;
  
	color: $mainTextColor;
	font: {
		size: 1.1em;
		family: sans-serif;
	}
	background: {
		color: $mainBackgroundColor;
	}
}