<div class="container primary" id="content">
    <div id="sidebar">
        <div id="activity">
            <div id="recent-uploads">
                <ul>
                    <li>Sebastian sent you a message: "This should not be a social network"</li>
                </ul>
            </div>
        </div>
        <div id="stats">
            <h2>Today</h2>
            <dl>
                <dt>Downloaded</dt>
                <dd>50GB</dd>
                <dt>Uploaded</dt>
                <dd>50GB</dd>
            </dl>
            <h2>This Month</h2>
            <dl>
                <dt>Downloaded</dt>
                <dd>50GB</dd>
                <dt>Uploaded</dt>
                <dd>50GB</dd>
            </dl>
            <h2>Forever</h2>
            <dl>
                <dt>Downloaded</dt>
                <dd>50GB</dd>
                <dt>Uploaded</dt>
                <dd>50GB</dd>
            </dl>
        </div>
    </div>
</div>