<div class="container">
    <p><input type="text"></p>
    <p><input type="text" class="error"></p>
    <p><input type="file"></p>
    <p><input type="checkbox"></p>
    <p><input type="radio"></p>
</div>