<div class="center-container main-content">
    <h1>All Torrents (<%= link_to "upload", new_torrent_path %>)</h1>

    <ul>
        <% @torrents.each do |torrent| %>
            <li><%= link_to torrent.name, torrent %></li>
        <% end %>
    </ul>
</div>