<section class="torrent-single-view">
    <div class="container">
        <div class="center-container">
        <h1>All Torrents (<%= link_to "upload", new_torrent_path %>)</h1>

        <ul>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Seeders</td>
                        <td>Leechers</td>
                    </tr>
                </thead>
                <tbody>
                    <% @torrents.each do |torrent| %>
                        <tr>
                            <td><%= link_to torrent.name, torrent %></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </ul>
       </div>
    </div>
</div>