@import "helpers.css.scss";
@import "variables.css.scss";

html, body {
    background-color: $body-back;
    font: {
        family: $body-font-family;
        size: $body-font-size;
    };
    color: $body-color;
}

.container {
    margin: 0 auto;
    width: $container-width;
}

.icon {
    background-image: url($icon-path);
    @include box($icon-size);
    &.dropdown-arrow { @include sprite(1, 4); }
    &.download { @include sprite(1, 5); }
    &.upload { @include sprite(1, 6); }
    &.current_ratio { @include sprite(1, 7); }
    &.required_ratio { @include sprite(1, 8); }
    &.user { @include sprite(1, 10); }
    &.lock { @include sprite(1, 11); }
}

a, input, textarea {
    &:focus {
        outline-color: $focus-outline-color;
    }
}


.left { float: left; }
.right { float: right; }

#toggle-grid {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#grid {
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('grid.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#toggle-design {
    z-index: 2;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

#design {
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('design.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@if $scrollbar-custom {
    ::-webkit-scrollbar {
        width: $scrollbar-width;
        background-color: $scrollbar-back;
    }
    ::-webkit-scrollbar-track {
        background-color: $scrollbar-track-back;
        border-radius: $scrollbar-track-border-radius;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-back;
        border-radius: $scrollbar-thumb-border-radius;
    }
}
