@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin text-shadow($arg) {
    -webkit-text-shadow: $arg;
    -moz-text-shadow: $arg;
    text-shadow: $arg;
}

@mixin text-overflow($arg) {
    text-overflow: $arg;
    -o-text-overflow: $arg;
    -icab-text-overflow: $arg;
    -khtml-text-overflow: $arg;
    -moz-text-overflow: $arg;
    -webkit-text-overflow: $arg; 
}

@mixin user-select(){
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin box-shadow ($shadow-1, $shadow-2: false, $shadow-3: false, $shadow-4: false, $shadow-5: false, $shadow-6: false, $shadow-7: false, $shadow-8: false, $shadow-9: false) {
    $full: compact($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9);

    -webkit-box-shadow: $full;
    -moz-box-shadow: $full;
    box-shadow: $full;
}

@mixin border-radius($arg) {
    -webkit-border-radius: $arg;
    -moz-border-radius: $arg;
    -khtml-border-radius: $arg;
    border-radius: $arg;
}

@mixin box-sizing(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin vertical-gradient($start, $stop) {
    background-color: $start;
    background-image: linear-gradient(top, $start 0%, $stop 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -webkit-linear-gradient($start, $stop);
    background-image: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background-image: -moz-gradient(center top, $start 0%, $stop 100%);
    background-image: -ms-linear-gradient(top, $start 0%, $stop 100%);
    background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -o-linear-gradient(top, $start 0%, $stop 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=0);
}

@mixin selection($back: inherit, $fore: inherit){
    &::selection {
        background-color: $back;
        color: $fore;
    }
    &::-moz-selection {
        background-color: $back;
        color: $fore;
    }
}

@mixin opacity($opacity){
    opacity: $opacity;
    -moz-opacity: $opacity;
    -webkit-opacity: $opacity;
}

@mixin sprite-map($row, $col, $size: 16px){
    background-position: (($col * $size - $size) * -1) (($row * $size - $size) * -1);
}