@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin text-shadow($arg) {
    -webkit-text-shadow: $arg;
    -moz-text-shadow: $arg;
    text-shadow: $arg;
}

@mixin text-overflow($arg) {
    text-overflow: $arg;
    -o-text-overflow: $arg;
    -icab-text-overflow: $arg;
    -khtml-text-overflow: $arg;
    -moz-text-overflow: $arg;
    -webkit-text-overflow: $arg; 
}

@mixin user-select(){
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin box-shadow($arg) {
    -webkit-box-shadow: $arg;
    -moz-box-shadow: $arg;
    box-shadow: $arg;
}

@mixin border-radius($arg) {
    -webkit-border-radius: $arg;
    -moz-border-radius: $arg;
    -khtml-border-radius: $arg;
    border-radius: $arg;
}

@mixin box-shadow($arg1, $arg2) {
    -webkit-box-shadow: $arg1, $arg2;
    -moz-box-shadow: $arg1, $arg2;
    box-shadow: $arg1, $arg2;
}
@mixin box-shadow($arg1, $arg2, $arg3) {
    -webkit-box-shadow: $arg1, $arg2, $arg3;
    -moz-box-shadow: $arg1, $arg2, $arg3;
    box-shadow: $arg1, $arg2, $arg3;
}

@mixin box-shadow($arg1, $arg2, $arg3, $arg4) {
    -webkit-box-shadow: $arg1, $arg2, $arg3, $arg4;
    -moz-box-shadow: $arg1, $arg2, $arg3, $arg4;
    box-shadow: $arg1, $arg2, $arg3, $arg4;
}

@mixin box-sizing(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin vertical-gradient($start, $stop) {
    background-color: $start;
    background-image: linear-gradient(top, $start 0%, $stop 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -webkit-linear-gradient($start, $stop);
    background-image: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background-image: -moz-gradient(center top, $start 0%, $stop 100%);
    background-image: -ms-linear-gradient(top, $start 0%, $stop 100%);
    background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -o-linear-gradient(top, ${start} 0%, ${stop} 100%);
    filter: progid:DXImageTransform@mixin Microsoft@mixin gradient(startColorstr='$start', endColorstr='$stop', GradientType=0);
}

@mixin selection($back: inherit, $fore: inherit){
    &::selection {
        background-color: $back;
        color: $fore;
    }
    &::-moz-selection {
        background-color: $back;
        color: $fore;
    }
}

@mixin opacity($opacity){
    opacity: $opacity;
    -moz-opacity: $opacity;
    -webkit-opacity: $opacity;
}