.home-page {
    h1 {
        width:1000px;
        height:414px;
        display:block;
        line-height:414px;
        text-indent:1000px;
        overflow:hidden;
        background-image:url(/assets/voze.png);
        position:asbolute;
        left:50%;
        top:50%;
        margin-left:-500px;
        margin-top:-207px;
    }
}