@import "helpers.css.scss";
@import "variables.css.scss"; 

section.sessions {
    margin: $sessions-margin;
    margin-top: $sessions-margin-top;
    width: $sessions-width;
    box-shadow: $sessions-box-shadow;
    header {
        @include gradient($sessions-header-back-from, $sessions-header-back-to);
        box-shadow: $sessions-header-box-shadow;
        border-bottom: $sessions-header-border-bottom;
        height: $sessions-header-height;
        margin-bottom: $sessions-header-margin-bottom;
        h1 {
            margin-left: $sessions-header-logo-margin-left;
            margin-top: $sessions-header-logo-margin-top;
        }
    }
    strong {
        display: block;
        margin-bottom: $sessions-title-margin-bottom;
    }
    .icon.loading {
        display: none;
        margin-left: $sessions-loading-icon-margin-left;
        margin-top: $sessions-loading-icon-margin-top;
    }
    .error {
        margin-top: $sessions-error-margin-top;
        margin-bottom: $sessions-error-margin-bottom;
    }
    .input {
        margin-left: 0;
        position: relative;
    }
    .icon-container {
        border-right: $sessions-input-icon-border-right;
        box-shadow: $sessions-input-icon-box-shadow;
        position: absolute;
        padding: $sessions-input-icon-padding;
        margin-top: $sessions-input-icon-margin-top;
    }
    input[type=text], input[type=password] {
        padding-left: $sessions-input-text-padding-left;
        width: 100%;
        margin-bottom: $sessions-input-text-margin-bottom;
        &.actual {
            display: none;
        }
    }
    section {
        padding: $sessions-content-padding;
        background-color: $sessions-content-back;
        border: $sessions-content-border;
        border-radius: $sessions-content-border-radius;
        border-top: none;
    }
    footer {
        @include clear-fix;
        margin-top: $sessions-footer-margin-top;
        line-height: $input-text-height;
    }
}
