@import "helpers.css.scss";

#outer-login-container {

    margin-top: 200px;

    img {
        margin: 0 auto;
        display: block;
    }
}

#login-container {
    width: 300px;
    
    margin: 20px auto;

    box-sizing: border-box;

    overflow: hidden;

    h2 {
        margin-top: 0;
    }

    input {
        width: 100%;
        margin-top: 5px;

        &#session_username {
            margin-top: 0;
        }

        &#session_submit {
            width: 100px;
            float: right;
        }
    }

    a {
        vertical-align: middle;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin-top: 5px;
        margin-left: 1px;
    }
}
