// Place all the styles related to the torrents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "helpers.css.scss";

.torrent-single-view {
    h3 {
        clear: both;
        line-height: 13px;
        margin-top: 25px;
        margin-bottom: 16px;
        color: #e1e1e1;
        font-weight: bold;
        &.about, &.details {
            margin-top: 19px;
            margin-bottom: 16px;
        }
    }
    figure {
        margin: 0;
        img {
            float: left;
            display: block;
        }
    }
    section, aside {
        @include box-sizing();
        float: left;
    }
    table {
        margin-left: -5px;
    }
    section {
        width: 65%;
        padding-right: 20px;
        header {
            figure {
                float: left;
                margin-right: 14px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .left {
                h2 {
                    margin-top: 5px;
                    font-weight: bold;
                    color: #e1e1e1;
                    line-height: 23px;
                    font-size: 23px;
                }
                p {
                    line-height: 13px;
                    margin-top: 7px;
                    a {
                        color: #38546d;
                    }
                }
            }
        }
        table tbody tr td:first-child {
            color: #acacac;
        }
    }
    #seperator {
        margin-left: -1px;
        float: left;
        width: 1px;
        height: 600px;
        background-image: url(image_path("torrent-seperator.png"));
        @include box-shadow(0 0 5px rgba(0, 0, 0, 0.58));
    }
    aside {
        padding-left: 20px;
        width: 35%;
        header {
            line-height: 24px;
            @include text-shadow(0 -1px rgba(0, 0, 0, 0.75)); 
            .left {
                margin-bottom: 12px;
                h3 {
                    line-height: 24px;
                    margin: 0;
                    float: left;
                }
                .dropdown {
//                    overflow: hidden;
                    font-weight: bold;
                    color: #cfcfcf;
                    border: 1px solid #1d1d1d;
                    float: left;
                    height: 22px;
                    line-height: 22px;
                    cursor: pointer;
                    padding-left: 10px;
                    margin-left: 10px;
                    @include border-radius(3px);
                    @include vertical-gradient(#454545, #383838);
                    @include box-shadow(0 1px #272727);
                    &:hover {
                        @include vertical-gradient(#505050, #454545);
                    }
                    &.active {
                        @include vertical-gradient(#3c3c3c, #2e2e2e);
                    }
                    span, .icon {
                        float: left;
                    }
                    span {
                        display: block;
                    }
                    .icon {
                        @include sprite-map(1, 4);
                        margin: 3px 2px;
                    }
                }
            }
            .right a {
                float: left;
                display: block;
                &.report {
                    margin-right: 10px;
                    color: #9a3232;
                }
                &.download {
                    color: #3f77a8;
                    font-weight: bold;
                }
            }
        }
        figure img {
            width: 100%;
        }
        table {
            &.file-listing tbody tr td {
                @include box-sizing();
                height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.metadata tbody tr td:first-child {
                color: #acacac;
                font-weight: bold;
            }
        }
    }
}