@import "helpers.css.scss";
@import "variables.css.scss";

h2 {
    margin-bottom: $h2-margin-bottom;
    font: {
        family: $h2-font-family;
        size: $h2-font-size;
        weight: $h2-font-weight;
    };
}

strong {
    font-weight: $bold-font-weight;
}

.error {
    color: $error-color;
}

a {
    color: $link-color;
    text-decoration: $link-text-decoration;
    @include transition($link-transition);
    &:hover {
    	color: $link-hover-color;
    	text-decoration: $link-hover-text-decoration;
    }
}
