@import "helpers.css.scss";
@import "variables.css.scss";

h2 {
    margin-bottom: $h2-margin-bottom;
    font: {
        family: $h2-font-family;
        size: $h2-font-size;
        weight: $h2-font-weight;
    };
}

strong {
    font-weight: $bold-font-weight;
}

a {
    color: inherit;
    text-decoration: none;
}