@import "helpers.css.scss";
@import "variables.css.scss";

input[type=text], textarea {
	color: $input-font-color;
	min-height: $input-height;
	border: $input-border;
	background-color: $input-back;
	border-radius: $input-border-radius;
	padding: 0 $input-padding;
	line-height: $input-line-height;
	text-shadow: $input-text-shadow;
	&:focus {
		outline: none;
	}
}