// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-container {
    input {
        &#user_username {
            margin-top: 0;
        }
    }
}
