/* Main */

$body-font-family: 'PT Sans';
$body-color: #acacac;
$body-font-size: 13px;
$body-back: #1a1a1a;

$bold-font-weight: 700;

// Link //

$link-color: #3f77a8;
$link-text-decoration: none;
$link-transition: color 200ms ease;
$link-hover-color: #5094D0;
$link-hover-text-decoration: none;

// Outline //

$focus-outline-color: rgba(63, 119, 168, 0.9);

// Icon //

$icon-path: image_path('sprites.png');
$icon-size: 16px;

/*
// TODO //
$icon-loading-path: ; // etc //
$icon-background-size: 100% 100%;
*/

// Error //

$error-color: #b12d2d;

// Container //

$container-width: 940px;

/* Headings */

// Heading 2 //

$h2-font-family: 'Open Sans';
$h2-font-size: 23px;
$h2-font-weight: $bold-font-weight;
$h2-margin-bottom: 29px;

/* Header */

$header-height: 48px;
$header-back-from: #424242;
$header-back-to: #232323;
$header-border-bottom: 1px solid #1b1b1b;
$header-font-weight: $bold-font-weight;

// Navigation //

$nav-box-shadow-color: rgba(255, 255, 255, 0.04);
$nav-box-shadow: -1px 0 $nav-box-shadow-color, 1px 0 $nav-box-shadow-color;
$nav-color: #cfcfcf;
$nav-text-shadow: 0 -1px rgba(0, 0, 0, 0.6);

$nav-item-height: $header-height - 1px;
$nav-item-padding: 20px;
$nav-item-box-shadow: inset -1px 0 $nav-box-shadow-color, inset 1px 0 $nav-box-shadow-color;
$nav-item-border: $header-border-bottom;

$nav-item-hover-color: #f3f3f3;
$nav-item-hover-back-from: #4f4f4f;
$nav-item-hover-back-to: #2a2a2a;
$nav-item-hover-shadow-color: rgba(245, 245, 245, 0.09);
$nav-item-hover-box-shadow: inset 1px 0px 0 $nav-item-hover-shadow-color, inset -1px 0 0 $nav-item-hover-shadow-color;

$nav-item-active-color: #767676;
$nav-item-active-back-from: #2d2d2d;
$nav-item-active-back-to: #181818;
$nav-item-active-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);

// User Info //

$header-logo-path: image_path('logo.png');
$header-logo-width: 80px;
$header-logo-height: 25px;
$header-logo-margin-top: 11px;
$header-logo-margin-right: 20px;

$header-user-icon-margin-top: ($header-height - $icon-size) / 2;

$header-user-color: #a7a7a7;
$header-user-text-shadow: 0 -1px rgba(0, 0, 0, 0.75);

$header-user-avatar-margin-top: 8px;
$header-user-avatar-margin-right: 6px;
$header-user-avatar-size: 28px;
$header-user-avatar-border: 1px solid #272727;
$header-user-avatar-border-outer: 1px solid rgba(235, 235, 235, 0.05);

$header-user-ratio-good-color: #6e8467;
$header-user-ratio-bad-color: #9c4040;

/* Breadcrumbs (layout.css.scss) */

$breadcrumbs-height: 32px;
$breadcrumbs-back: #494949;
$breadcrumbs-box-shadow: inset 0 -1px #232323, inset 0 1px #646464;
$breadcrumbs-border-bottom: 1px solid #262626;

/* Forms (forms.css.scss) */

$form-row-margin-bottom: 13px;
$form-label-width: 90px;
$form-input-margin-left: $form-label-width;

$button-color: #9c9c9c;
$button-text-shadow: 0 -1px rgba(0, 0, 0, 0.84);
$button-back-from: #393939;
$button-back-to: #2e2e2e;
$button-border: 1px solid rgba(0, 0, 0, 0.8);
$button-border-radius: 3px;
$button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
$button-transition: all 75ms ease;
$button-line-height: 25px;
$button-height: 27px;
$button-padding: 0 10px;
$button-font-weight: $bold-font-weight;

$button-hover-color: #e1e1e1;
$button-hover-back-from: #444444;
$button-hover-back-to: #373737;
$button-hover-border: 1px solid rgba(0, 0, 0, 0.7);
$button-hover-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 3px rgba(255, 255, 255, 0.15);

$button-active-color: #868686;
$button-active-back-from: #2e2e2e;
$button-active-back-to: #252525;
$button-active-border: $button-border;
$button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);

$button-disabled-color: #616161;
$button-disabled-back: #333333;

$button-blue-color: #a0abb4;
$button-blue-back-from: #1f405c;
$button-blue-back-to: #143551;
$button-blue-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);

$button-blue-hover-color: #cedbe5;
$button-blue-hover-back-from: #254d6e;
$button-blue-hover-back-to: #184061;
$button-blue-hover-border: 1px solid rgba(0, 0, 0, 0.7);
$button-blue-hover-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08), inset 0 0 3px rgba(255, 255, 255, 0.15);

$button-blue-active-color: #798289;
$button-blue-active-back-from: #213f59;
$button-blue-active-back-to: #16344e;
$button-blue-active-border: $button-border;
$button-blue-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.04);

$button-blue-disabled-color: #5a656d;
$button-blue-disabled-back: #233748;

$input-text-text-shadow: 0 -1px rgba(0, 0, 0, 0.84);
$input-text-color: #a7a7a7;
$input-text-padding: 0 9px;
$input-text-line-height: 10px;
$input-text-back: #363636;
$input-text-border-radius: 3px;
$input-text-border: 1px solid #111111;
$input-text-height: 27px;
$input-text-box-shadow: inset 0 -1px #424242, inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.25);
$input-text-transition: all 90ms ease;
$input-text-focus-box-shadow-color: #255F91;
$input-text-focus-box-shadow: inset -1px -1px $input-text-focus-box-shadow-color, inset 1px 1px $input-text-focus-box-shadow-color, $input-text-box-shadow;
$input-text-focus-error-box-shadow-color: #7a2828;
$input-text-focus-error-box-shadow: inset -1px -1px $input-text-focus-error-box-shadow-color, inset 1px 1px $input-text-focus-error-box-shadow-color;

$input-text-placeholder-text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
$input-text-placeholder-color: #5d5d5d;
$input-text-placeholder-line-height: $input-text-height / 1.5;

$input-textarea-padding: 7px 9px;
$input-textarea-line-height: 20px;
$input-textarea-height: 85px;

/* Scrollbar (Webkit only) (global.css.scss) */

$scrollbar-custom: true;
$scrollbar-width: 8px;
$scrollbar-back: #1a1a1a;
$scrollbar-track-back: rgba(255, 255, 255, 0.1);
$scrollbar-track-border-radius: 0;
$scrollbar-thumb-back: rgba(255, 255, 255, 0.4);
$scrollbar-thumb-border-radius: $scrollbar-width / 2;

/* Page Specific */

// Sessions (sessions.css.scss) //

$sessions-width: 299px;
$sessions-margin: 0 auto;
$sessions-margin-top: 15%;
$sessions-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$sessions-title-margin-bottom: 14px;
$sessions-footer-margin-top: 4px;

$sessions-error-margin-top: -11px; // DIRTY HACK (shifts it up and puts it on baseline grid)
$sessions-error-margin-bottom: $sessions-title-margin-bottom - 4;

$sessions-header-back-from: #414141;
$sessions-header-back-to: #232323;
$sessions-header-border-bottom: 1px solid #1b1b1b;
$sessions-header-box-shadow-side-color: rgba(255, 255, 255, 0.05);
$sessions-header-box-shadow: inset 0px 1px $sessions-header-box-shadow-side-color, inset 1px 0px $sessions-header-box-shadow-side-color, inset -1px 0 $sessions-header-box-shadow-side-color, inset 0 -1px #2e2e2e;

$sessions-header-height: 48px;
$sessions-header-logo-margin-left: 19px;
$sessions-header-logo-margin-top: 12px;

$sessions-content-back: #1b1b1b;
$sessions-content-padding: 18px;
$sessions-content-border: 1px solid #222222;
$sessions-content-border-radius: 0 0 2px 2px;

$sessions-input-icon-padding: 1px 3px 0 5px;
$sessions-input-icon-border-right: 1px solid #2e2e2e;
$sessions-input-icon-box-shadow: 1px 0 #3d3d3d;
$sessions-input-icon-margin-top: 5.5px;

$sessions-input-text-margin-bottom: 13px;
$sessions-input-text-padding-left: 33px;

$sessions-loading-icon-margin-top: ($button-height - $icon-size) / 2;
$sessions-loading-icon-margin-left: $sessions-loading-icon-margin-top;
