/* Main */

$body-font-family: 'PT Sans';
$body-font-color: #acacac;
$body-font-size: 13px;
$body-back: #1a1a1a;

$link-color: #3f77a8;

$icon-size: 16px;

$container-width: 940px;

/* Header */

$header-height: 48px;
$header-back-from: #424242;
$header-back-to: #232323;
$header-border-bottom: 1px solid #1b1b1b;

// Navigation //

$nav-shadow-color: rgba(255, 255, 255, 0.04);
$nav-shadow: -1px 0 $nav-shadow-color, 1px 0 $nav-shadow-color;
$nav-font-weight: 700;
$nav-font-color: #cfcfcf;
$nav-font-shadow: 0 -1px rgba(0, 0, 0, 0.6);

$nav-item-height: $header-height - 1px;
$nav-item-padding: 20px;
$nav-item-shadow: inset -1px 0 $nav-shadow-color, inset 1px 0 $nav-shadow-color;
$nav-item-border: $header-border-bottom;

$nav-item-hover-back-from: #4f4f4f;
$nav-item-hover-back-to: #2a2a2a;
$nav-item-hover-shadow-color: rgba(245, 245, 245, 0.09);
$nav-item-hover-shadow: inset 1px -1px 0 $nav-item-hover-shadow-color, inset -1px 0 0 $nav-item-hover-shadow-color;

$nav-item-active-back-from: #2d2d2d;
$nav-item-active-back-to: #181818;
$nav-item-active-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);

// User Info //

$header-logo-path: image_path('logo.png');
$header-logo-width: 80px;
$header-logo-height: 25px;
$header-logo-margin-top: 11px;
$header-logo-margin-right: 20px;

$header-user-font-color: #a7a7a7;
$header-user-font-shadow: 0 -1px rgba(0, 0, 0, 0.75);

$header-user-name-weight: 700;

$header-user-avatar-margin-top: 8px;
$header-user-avatar-size: 28px;
$header-user-avatar-border: 1px solid #272727;
$header-user-avatar-border-outer: 1px solid rgba(235, 235, 235, 0.05);

$header-user-ratio-good-color: #6e8467;
$header-user-ratio-bad-color: #9c4040;

$header-user-icon-margin-left: 6px;
$header-user-icon-margin-right: 1px;

/* Breadcrumbs */

$breadcrumbs-height: 32px;
$breadcrumbs-back: #494949;
$breadcrumbs-shadow: inset 0 -1px #232323, inset 0 1px #646464;
$breadcrumbs-border-bottom: 1px solid #262626;

/* UI Elements */

$input-text-shadow: 0 -1px rgba(0, 0, 0, 0.84);
$input-font-color: #a7a7a7;
$input-padding: 10px;
$input-line-height: 10px;
$input-back: #363636;
$input-border-radius: 1px;
$input-border: 1px solid #111111;


$input-height: 25px;