@import "helpers.css.scss";
@import "variables.css.scss";

$focus-outline-color: rgba(63, 119, 168, 0.9);

$icon-arrow-big-right-path: image_path('icons/arrow-big-right.svg');
$icon-arrow-down-path: image_path('icons/arrow-down.svg');
$icon-download-path: image_path('icons/download.svg');
$icon-home-path: image_path('icons/home.svg');
$icon-lock-path: image_path('icons/lock.svg');
$icon-pencil-path: image_path('icons/pencil.svg');
$icon-ratio-path: image_path('icons/ratio.svg');
$icon-search-active-path: image_path('icons/search-active.svg');
$icon-search-hover-path: image_path('icons/search-hove.svg');
$icon-search-path: image_path('icons/search.svg');
$icon-upload-path: image_path('icons/upload.svg');
$icon-user-path: image_path('icons/user.svg');

$scrollbar-custom: true;
$scrollbar-width: 8px;
$scrollbar-track-back: rgba(255, 255, 255, 0.1);
$scrollbar-thumb-back: rgba(255, 255, 255, 0.4);

html, body {
    background-color: $body-back;
    font: {
        family: $body-font-family;
        size: $body-font-size;
    };
    color: $body-color;
}

.container {
    margin: 0 auto;
    width: $container-width;
}

aside {
    width: $sidebar-width;
    margin-left: $sidebar-margin-left;
}

section section {
    width: $content-width;
}

.icon {
    @include box($icon-size);
    &.arrow-big-right { background-image: url($icon-arrow-big-right-path); }
    &.arrow-down { background-image: url($icon-arrow-down-path); }
    &.download { background-image: url($icon-download-path); }
    &.home { background-image: url($icon-home-path); }
    &.lock { background-image: url($icon-lock-path); }
    &.pencil { background-image: url($icon-pencil-path); }
    &.ratio { background-image: url($icon-ratio-path); }
    &.search {
        background-image: url($icon-search-path);
        &:hover { background-image: url($icon-search-hover-path); }
        &:active { background-image: url($icon-search-active-path); }
    }
    &.upload { background-image: url($icon-upload-path); }
    &.user { background-image: url($icon-user-path); }
}

a, input, textarea {
    &:focus {
        outline-color: $focus-outline-color;
    }
}


.left { float: left; }
.right { float: right; }

#toggle-grid {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#grid {
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('grid.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#toggle-design {
    z-index: 2;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

#design {
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('design.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@if $scrollbar-custom {
    ::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    ::-webkit-scrollbar-track {
        background-color: $scrollbar-track-back;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-back;
    }
}
