@import "helpers.css.scss";
@import "variables.css.scss";

html, body {
    background-color: #1a1a1a;
    font: {
        family: 'PT Sans';
        size: 13px;
    };
    color: #acacac;
}

.container {
    margin: 0 auto;
    width: $container-width;
}


html.no-js {
    .js-show {
        display: none;
    }
}

html.js {
    .js-invisible {
        opacity: 0;
    }
    .js-hide {
        display: none;
    }
}

h1.logo {
    text-indent: -9999px;
    background-image: url(image_path('logo.png'));
    background-image: url(image_path('logo.svg'));
    margin-top: 11px;
    margin-right: 20px;
    &, a {
        width: 80px;
        height: 25px;
    }
}


[disabled], :disabled {
    cursor: cross;
}

aside {
    width: $sidebar-width;
    margin-left: $sidebar-margin-left;
}

section section {
    width: $content-width;
}

.icon {
    @include box($icon-size);
    &.arrow-big-right {
        background-image: url(image_path('icons/arrow-big-right.png'));
        background-image: url(image_path('icons/arrow-big-right.svg'));
    }
    &.arrow-down {
        background-image: url(image_path('icons/arrow-down.png'));
        background-image: url(image_path('icons/arrow-down.svg'));
    }
    &.download {
        background-image: url(image_path('icons/download.png'));
        background-image: url(image_path('icons/download.svg'));
    }
    &.home {
        background-image: url(image_path('icons/home.png'));
        background-image: url(image_path('icons/home.svg'));
    }
    &.lock {
        background-image: url(image_path('icons/lock.png'));
        background-image: url(image_path('icons/lock.svg'));
    }
    &.pencil {
        background-image: url(mage_path('icons/pencil.png'));
        background-image: url(mage_path('icons/pencil.svg'));
    }
    &.ratio {
        background-image: url(image_path('icons/ratio.png'));
        background-image: url(image_path('icons/ratio.svg'));
    }
    &.search {
        background-image: url(image_path('icons/search.png'));
        background-image: url(image_path('icons/search.svg'));
        &:hover {
            background-image: url(image_path('icons/search-hover.png'));
            background-image: url(image_path('icons/search-hover.svg'));
        }
        &:active {
            background-image: url(image_path('icons/search-active.png'));
            background-image: url(image_path('icons/search-active.svg'));
        }
    }
    &.upload {
        background-image: url(image_path('icons/upload.png'));
        background-image: url(image_path('icons/upload.svg'));
    }
    &.user {
        background-image: url(image_path('icons/user.png'));
        background-image: url(image_path('icons/user.svg'));
    }
}


a, input, textarea {
    &:focus {
        outline-color: rgba(63, 119, 168, 0.9);
    }
}


.left { float: left; }
.right { float: right; }

#toggle-grid {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#grid {
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('grid.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#toggle-design {
    z-index: 2;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

#design {
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('design.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/*
@if $scrollbar-custom {
    ::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    ::-webkit-scrollbar-track {
        background-color: $scrollbar-track-back;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-back;
    }
}
*/
