@import "helpers.css.scss";
@import "variables.css.scss";

html, body {
    background-color: $body-back;
    font: {
        family: $body-font-family;
        size: $body-font-size;
    };
    color: $body-color;
}

.container {
    margin: 0 auto;
    width: $container-width;
}

.icon {
    @include box($icon-size);
    &.arrow-big-right { background-image: url($icon-arrow-big-right-path); }
    &.arrow-down { background-image: url($icon-arrow-down-path); }
    &.download { background-image: url($icon-download-path); }
    &.home { background-image: url($icon-home-path); }
    &.lock { background-image: url($icon-lock-path); }
    &.pencil { background-image: url($icon-pencil-path); }
    &.ratio { background-image: url($icon-ratio-path); }
    &.search {
        background-image: url($icon-search-path);
        &:hover { background-image: url($icon-search-hover-path); }
        &:active { background-image: url($icon-search-active-path); }
    }
    &.upload { background-image: url($icon-upload-path); }
    &.user { background-image: url($icon-user-path); }
}

a, input, textarea {
    &:focus {
        outline-color: $focus-outline-color;
    }
}


.left { float: left; }
.right { float: right; }

#toggle-grid {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#grid {
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('grid.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#toggle-design {
    z-index: 2;
    position: absolute;
    bottom: 60px;
    left: 20px;
}

#design {
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
    display: none;
    background-image: url(image_path('design.png'));
    background-repeat: repeat-y;
    background-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@if $scrollbar-custom {
    ::-webkit-scrollbar {
        width: $scrollbar-width;
    }
    ::-webkit-scrollbar-track {
        background-color: $scrollbar-track-back;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-back;
    }
}
