@import "helpers.css.scss";
@import "variables.css.scss";

header, body > nav {
    @include box-sizing;
}

header {
    @include gradient(#424242, #232323);
    @include clear-fix;
    border-bottom: 1px solid #1b1b1b;
    height: 48px;
    line-height: 48px;
    font-weight: $bold-font-weight;
    h1, h1 a, nav, nav ul li, nav ul li a, .right > div, .right > div > div {
        display: block;
        float: left;
    }
    .right .user .username {
        color: #cfcfcf;
    }
    nav {
        box-shadow: -1px 0 rgba(255, 255, 255, 0.04), 1px 0 rgba(255, 255, 255, 0.04);
        line-height: 47px;
        ul li {
            &:last-child a {
                border-right: 1px solid #1b1b1b;
            }
            a {
                color: #cfcfcf;
                text-shadow: 0 -1px rgba(0, 0, 0, 0.6);
                padding: 0 20px;
                border-left: 1px solid #1b1b1b;
                box-shadow: inset -1px 0 rgba(255, 255, 255, 0.04), inset 1px 0 rgba(255, 255, 255, 0.04);
                &:hover {
                    color: #f3f3f3;
                    box-shadow: inset 1px 0px 0 rgba(245, 245, 245, 0.09), inset -1px 0 0 rgba(245, 245, 245, 0.09);
                    @include gradient(#4f4f4f, #2a2a2a);
                }
                &:active {
                    color: #767676;
                    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
                    @include gradient(#2d2d2d, #181818);
                }
            }
        }
    }
    .right {
        color: #a7a7a7;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.75);
        .icon {
            margin-top: 16px;
        }
        .user {
            .avatar {
                border: 1px solid rgba(235, 235, 235, 0.05);
                margin-top: 8px;
                margin-right: 6px;
                img {
                    border: 1px solid #272727;
                    display: block;
                    @include box(28px);
                }
            }
            .username a {
                color: inherit;
            }
            .arrow-down {
                cursor: pointer;
            }
        }
        .bandwidth {
            .download {

            }
            .upload {

            }
        }
        .ratio {
            .bad {
                color: #9c4040;
            }
            .good {
                color: #6e8467;
            }
        }
    }
}

body > nav {
    background-color: #494949;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #262626;
    box-shadow: inset 0 -1px #232323, inset 0 1px #646464;
}

footer {
    text-align: center;
    @include clear-fix;
}
