@import "helpers.css.scss";
@import "variables.css.scss";

header, body > nav {
    @include box-sizing;
}

header {
    @include gradient($header-back-from, $header-back-to);
    @include clear-fix;
    border-bottom: $header-border-bottom;
    height: $header-height;
    line-height: $header-height;
    font-weight: $header-font-weight;
    // TODO: Fix this abomination //
    h1, h1 a, nav, nav ul li, nav ul li a, .right > div, .right > div > div {
        display: block;
        float: left;
    }
    h1 {
        text-indent: -9999px;
        background-image: url($header-logo-path);
        margin-top: $header-logo-margin-top;
        margin-right: $header-logo-margin-right;
        &, a {
            width: $header-logo-width;
            height: $header-logo-height;
        }
    }
    .right .user .username {
        color: $nav-color;
    }
    nav {
        box-shadow: $nav-box-shadow;
        line-height: $nav-item-height;
        ul li {
            &:last-child a {
                border-right: $nav-item-border;
            }
            a {
                color: $nav-color;
                text-shadow: $nav-text-shadow;
                padding: 0 $nav-item-padding;
                border-left: $nav-item-border;
                box-shadow: $nav-item-box-shadow;
                &:hover {
                    color: $nav-item-hover-color;
                    box-shadow: $nav-item-hover-box-shadow;
                    @include gradient($nav-item-hover-back-from, $nav-item-hover-back-to);
                }
                &:active {
                    color: $nav-item-active-color;
                    box-shadow: $nav-item-active-box-shadow;
                    @include gradient($nav-item-active-back-from, $nav-item-active-back-to);
                }
            }
        }
    }
    .right {
        color: $header-user-color;
        text-shadow: $header-user-text-shadow;
        .icon {
            margin-top: $header-user-icon-margin-top;
        }
        .user {
            .avatar {
                border: $header-user-avatar-border-outer;
                margin-top: $header-user-avatar-margin-top;
                margin-right: $header-user-avatar-margin-right;
                img {
                    border: $header-user-avatar-border;
                    display: block;
                    @include box($header-user-avatar-size);
                }
            }
            .dropdown-arrow {
                cursor: pointer;
            }
        }
        .bandwidth {
            .download {

            }
            .upload {

            }
        }
        .ratio {
            .bad {
                color: $header-user-ratio-bad-color;
            }
            .good {
                color: $header-user-ratio-good-color;
            }
        }
    }
}

body > nav {
    background-color: $breadcrumbs-back;
    height: $breadcrumbs-height;
    line-height: $breadcrumbs-height;
    border-bottom: $breadcrumbs-border-bottom;
    box-shadow: $breadcrumbs-box-shadow;
}

footer {
    text-align: center;
}
