@import "helpers.css.scss";
@import "variables.css.scss";

section.sessions {
    margin: 0 auto;
    margin-top: 15%;
    width: 299px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    header {
        @include gradient(#414141, #232323);
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.05), inset 1px 0px rgba(255, 255, 255, 0.05), inset -1px 0 rgba(255, 255, 255, 0.05), inset 0 -1px #2e2e2e;
        border-bottom: 1px solid #1b1b1b;
        height: 48px;
        h1 {
            margin-left: 19px;
            margin-top: 12px;
        }
    }
    strong {
        display: block;
        margin-bottom: 14px;
    }
    .icon.loading {
        float: left;
        display: none;
        margin-left: 5.5px;
        margin-top: 5.5px;
    }
    .error {
        margin-top: -11px;
        margin-bottom: 7px;
    }
    .input {
        margin-left: 0;
        position: relative;
    }
    .icon-container {
        border-right: 1px solid #2e2e2e;
        box-shadow: 1px 0 #3d3d3d;
        position: absolute;
        padding: 1px 3px 0 5px;
        margin-top: 5.5px;
    }
    input[type=text], input[type=password] {
        padding-left: 33px;
        width: 100%;
        margin-bottom: 13px;
        &.actual {
            display: none;
        }
    }
    section {
        @include box-sizing;
        width: 100%;
        padding: 18px;
        background-color: #1b1b1b;
        border: 1px solid #222222;
        border-radius: 0 0 2px 2px;
        border-top: none;
    }
    .button-array, footer {
        line-height: 27px;
        @include clear-fix;
        input {
            float: left;
        }
        a {
            float: right;
        }
    }
    footer {
        margin-top: 4px;
    }
}
