@import "helpers.css.scss";
@import "variables.css.scss";

$new-heading-margin-top: 40px;
$new-heading-margin-bottom: 29px;
$new-strong-margin-bottom: 17px;
$new-row-margin-bottom: 13px;
$new-label-width: 90px;
$new-label-line-height: 30px;
$new-input-margin-left: $new-label-width;

$new-art-size: $sidebar-width;
$new-art-border-radius: 22px;
$new-art-text-shadow: 0 -1px rgba(0, 0, 0, 0.66);
$new-art-border-width: 6px;
$new-art-border: $new-art-border-width dashed #0b0b0b;
$new-art-after-shadow-width: 1px;
$new-art-after-border: $new-art-border-width dashed #2b2b2b;
$new-art-font-weight: $bold-font-weight;
$new-art-margin-top: 79px;
$new-art-line-height: $new-art-size - ($new-art-border-width * 2);
$new-art-selected-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 1px 1px rgba(245, 245, 245, 0.07), inset -1px -1px rgba(245, 245, 245, 0.07);

section.torrents.new {
    @include clear-fix;
    h2 {
        margin-top: $new-heading-margin-top;
        margin-bottom: $new-heading-margin-bottom;
    }
    strong {
        display: block;
        margin-bottom: $new-strong-margin-bottom;
    }
    .row {
        margin-bottom: $new-row-margin-bottom;
    }
    label {
        width: $new-label-width;
        line-height: $new-label-line-height;
    }
    .input {
        margin-left: $new-input-margin-left;
    }
    #art {
        margin-top: $new-art-margin-top;
        border: $new-art-border;
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: $new-art-line-height;
        font-weight: $new-art-font-weight;
        text-shadow: $new-art-text-shadow;
        &, &:after {
            @include box-sizing;
            @include box($new-art-size);
            border-radius: $new-art-border-radius;
        }
        &:after {
            position: absolute;
            z-index: -1;
            top: ($new-art-border-width - $new-art-after-shadow-width) * -1;
            right: $new-art-border-width * -1;
            display: block;
            border: $new-art-after-border;
            content: '';
        }
        &.preview {
            &, &:after {
                border: none;
            }
            .close {
                display: block;
            }
            .select {
                display: none;
            }
        }
        .preview {
            position: relative;
            float: left;
            box-shadow: $new-art-selected-box-shadow;
        }
        .close {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            background-color: red;
            @include box(24px);
        }
        img {
            float: left;
            z-index: -1;
            position: relative;
            display: none;
            max-width: 100%;
            max-height: 100%;
        }
        .select {
            input {
                width: 100px;
            }
            button {
                display: none;
            }
        }
    }
    section, aside {
        float: left;
    }
}
