@import "helpers.css.scss";
@import "variables.css.scss";

section.torrents.new {
    @include clear-fix;
    h2 {
        margin-top: 40px;
        margin-bottom: 29px;
    }
    strong {
        display: block;
        margin-bottom: 17px;
    }
    .row {
        margin-bottom: 13px;
    }
    label {
        width: 90px;
        line-height: 30px;
    }
    .input {
        margin-left: 90px;
    }
    #art {
        margin-top: 79px;
        border: 6px dashed #0b0b0b;
        position: relative;
        z-index: 1;
        text-align: center;
        line-height: 288px;
        font-weight: $bold-font-weight;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.66);
        &, &:after {
            @include box-sizing;
            @include box($sidebar-width);
            border-radius: 22px;
        }
        &:after {
            position: absolute;
            z-index: -1;
            top: -5px;
            right: -6px;
            display: block;
            border: 6px dashed #2b2b2b;
            content: '';
        }
        &.preview {
            &, &:after {
                border: none;
            }
            .close {
                display: block;
            }
            .select {
                display: none;
            }
        }
        .preview {
            position: relative;
            float: left;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 1px 1px rgba(245, 245, 245, 0.07), inset -1px -1px rgba(245, 245, 245, 0.07);
        }
        .close {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            background-color: red;
            @include box(24px);
        }
        img {
            float: left;
            z-index: -1;
            position: relative;
            display: none;
            max-width: 100%;
            max-height: 100%;
        }
        .select {
            input {
                width: 100px;
            }
            button {
                display: none;
            }
        }
    }
    section, aside {
        float: left;
    }
}
