@import "helpers.css.scss";
@import "variables.css.scss";

h1, h2, h3, strong {
    font-weight: $bold-font-weight;
}

h2 {
    font: {
        family: 'Open Sans';
        size: 23px;
    };
    line-height: 23px;
}

h3 {
    margin-bottom: 17px;
}

.error {
    color: #b12d2d;
}

a {
    color: #3f77a8;
    text-decoration: none;
    @include transition(color 200ms ease);
    &:hover {
        color: #5094D0;
    }
}

em {
    font-style: italic;
}
