@import "helpers.css.scss";
@import "variables.css.scss";

h2 {
    font: {
        family: $h2-font-family;
        size: $h2-font-size;
        weight: $h2-font-weight;
    };
    line-height: $h2-font-size;
}

strong {
    font-weight: $bold-font-weight;
}

.error {
    color: $error-color;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition($link-transition);
    &:hover {
        color: $link-hover-color;
    }
}
