@import "helpers.css.scss";
@import "variables.css.scss";

h2 {
    font: {
        family: 'Open Sans';
        size: 23px;
        weight: $bold-font-weight;
    };
    line-height: 23px;
}

strong {
    font-weight: $bold-font-weight;
}

.error {
    color: #b12d2d;
}

a {
    color: #3f77a8;
    text-decoration: none;
    @include transition(color 200ms ease);
    &:hover {
        color: #5094D0;
    }
}
