.user-input {
    h1, h2, h3 {
        margin: 0 !important;
        font-family: inherit !important;
    }
    h1 {
        font-size: 130%;
    }
    h2 {
        font-size: 120%;
    }
    h3 {
        font-size: 110%;
    }
}
