$body-font-family: 'PT Sans';
$body-color: #acacac;
$body-font-size: 13px;
$body-back: #1a1a1a;

$bold-font-weight: 700;

$icon-size: 16px;

$container-width: 940px;

$sidebar-width: 300px;
$sidebar-margin-left: 20px;

$content-width: $container-width - $sidebar-width - $sidebar-margin-left;
