<div id="outer-login-container">
    <%= image_tag "voze_small.png", alt: "Voze" %>
    <div class="container" id="login-container">
        <h2>Password reset</h2>
        <p>
            A link to reset your password has been emailed to you.
        </p>
    </div>
</div>