<div id="outer-login-container">
    <div class="container" id="login-container">
        <h2>Password reset</h2>
        <%= form_for :password_reset, url: password_resets_path do |f| %>
            <%= f.text_field :username, placeholder: "Username or email" %>
            <%= link_to "Cancel", new_sessions_path %>
            <%= f.submit "Reset", id: "session_submit" %>
        <% end %>
    </div>
</div>