<strong>Password reset</strong>
<%= form_for :password_reset, url: password_resets_path do |f| %>
    <div class="input">
        <div class="icon-container">
            <div class="icon user"></div>
        </div>
        <%= f.text_field :username, placeholder: "Username or email" %>
    </div>
    <footer>
        <%= f.submit "Reset", { class: "blue left", id: "session_submit" } %>
        <div class="icon loading left"></div>
        <%= link_to "Cancel", new_sessions_path, class: "right" %>
    </footer>
<% end %>