<section class="torrents new">
    <div class="container">
        <h2>All Torrents</h2>
        <%= link_to "Upload", new_torrent_path, class: "button" %>

        <% @torrents.each do |torrent| %>
            <%= link_to torrent.name, torrent %>
        <% end %>
    </div>
</div>
