<section class="torrents new">
    <div class="container">
        <%= form_for @torrent do |f| %>
            <section>
                <h2>Upload a torrent</h2>
                <strong>About the torrent</strong>
                <div class="row">
                    <label>Name</label>
                    <div class="input">
                        <input type="text">
                    </div>
                </div>
                <div class="row">
                    <label>Description</label>
                    <div class="input">
                        <textarea></textarea>
                        <p><a href="#">Markdown</a> is supported. <a href="#">Display preview</a></p>
                    </div>
                </div>
                <strong>Torrent file</strong>
                <p>Your announce URL is <%= link_to personal_announce_url, personal_announce_url %></p>
                <div class="row">
                    <label>Torrent file</label>
                    <div class="input">
                        <input type="file">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Submit torrent" class="blue">
                </div>
            </section>
            <aside>
                <div id="art">
                    <div class="preview">
                        <img>
                        <div class="close"></div>
                    </div>
                    <span class="select">
                        <span>Drop torrent art here or</span>
                        <button>Browse</button>
                        <input type="file">
                    </span>
                </div>
            </aside>
        <% end %>
    </div>
</section>
